.navItemsMobile{

    display: none;

    @media screen and (max-width: 720px) {
        @include ulStyleclean;
    background-color: $color__primary-dark;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .navItem{
        text-align: center;
        padding: $spacer__basic*2;
    }

    .navItemLink{
        display: block;
        color: $color__secondary;
        text-decoration: none;
        font-size: 0.6em;
        text-transform: capitalize;
    }

    .navItemLinkActive{
        display: block;
        color: white;
        text-decoration: none;
        font-size: 0.6em;
        text-transform: capitalize;
    }
        
    }
}